body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FBE8A6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.poems-list {
  /* background-color: #3036C6; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10rem auto;
  padding: 3rem;
}

.poem-preview {
  background-color: #F4976C;
  border-radius: 1rem;
  color: #D2FDFF;
  text-align: center;
  width: 85%;
  height: 10rem;
  margin-bottom: 1.5rem;
}

.poem-links {
  text-decoration: none;
  color: #3036C6;
}

.nav-links {
  margin-inline: 3rem;
}