/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.poems-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10rem auto;
  padding: 3rem;
}

.poem-preview {
  background-color: black;
  border-radius: 1rem;
  color: white;
  text-align: center;
  width: 85%;
  height: 10rem;
  margin-bottom: 1.5rem;
}

.poem-links {
  text-decoration: none;
  color: white;
}

.poem-detail {
  text-align: center;
  color: white;
  background-color: black;
  border-radius: 1rem;
  padding: 1rem; 
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links {
  margin: 1rem 0.3rem;
}

.nav-buttons {
    background-color: black;
    color: white;
    width: 6rem;
    border-radius: 0.6rem;
    padding: 0.5rem;
    font-weight: bolder;
}


.comments-container {
  margin-top: 10rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.comment-card {
  color: black;
  background-color: white;
  border-radius: 0.6rem;
  min-width: 100%;
  margin-bottom: 2rem;
}

.comments {
  display:flex;
  flex-direction: column;
  align-items: center;
}
 */


 body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eee2dc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.poems-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10rem auto;
  padding: 0.5rem;
}

.poem-preview {
  background-color: #edc7b7;
  font-style: italic;
  font-weight:700;
  border-radius: 1rem;
  padding: 1rem;
  color: #123C69;
  text-align: center;
  width: 95%;
  height: 14rem;
  margin-bottom: 1.5rem;
}

.poem-links {
  text-decoration: none;
  color: #AC3B61;
  font-weight: bolder;
  font-size: xx-large;
}

.poem-content {
  margin-top: 3rem;
}

