body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F4976C;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.poems-list {
  /* background-color: #3036C6; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10rem auto;
  padding: 3rem;
}

.poem-preview {
  background-color: #FBE8A6;
  border-radius: 1rem;
  color: #F4976C;
  text-align: center;
  width: 85%;
  height: 10rem;
  margin-bottom: 1.5rem;
}

.poem-links {
  text-decoration: none;
  color: #3036C6;
}

.poem-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem auto;
  padding: 1rem; 
  background-color: #FBE8A6;
  border-radius: 1rem;
  color: #F4976C;
  text-align: center;
  width: 85%;
  height: auto;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links {
  margin: 1rem 0.3rem;
}

.nav-buttons {
    background-color: #FBE8A6;
    color: #3036C6;
    width: 6rem;
    border-radius: 0.6rem;
    padding: 0.5rem;
    font-weight: bolder;
}

.comments-container {
  background-color: #3036C6;
}